.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    font-weight: 500;
}

.menu__links{
    color: var(--cor-texto);
    margin-right: 2rem;
}

button{
    padding: 0.8rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 500;
    color: var(--cor-texto);
    font-size: .9rem;
}

.btn__cadastrar{
    background-color: var(--cor-vermelho);
    color: var(--cor-branco);
}
