.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-weight: 500;
}

.sideMenu{
    display: none;
    visibility: hidden;
}

.sideMenu__hamburger{
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
  }

.menu__itens{
    display: flex;
    align-items: center;
}

.menu.active{
    right: 0;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: all .5s;
}

.menu__links{
    color: var(--cor-texto);
    margin-right: 2rem;
}

button{
    padding: 0.8rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 500;
    color: var(--cor-texto);
    font-size: .9rem;
}

.btn__cadastrar{
    background-color: var(--cor-vermelho);
    color: var(--cor-branco);
}
