.sobre__nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 1rem;
    gap: 1rem;
}

.sobre__nos-span{
    color: var(--cor-vermelho);
    font-size: 1rem;
    font-weight: 600;
}

.sobre__nos-titulo{
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-preto);
    text-align: center;
}

.sobre__nos-texto{
    max-width: 50%;
    text-align: center;
    line-height: 1.5rem;
    color: var(--cor-texto);
    font-weight: 400;
    font-size: 1.25rem;
}