.talentos{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem; 
   padding: 0 1rem;
   padding-top: 8rem;
}

.talentos__span{
    background-color: rgba(142, 36, 36, 0.05);
    color: var(--cor-vermelho);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.talentos__titulo{
    font-size: 2.25rem;
    color: var(--cor-preto);
    font-weight: 600;
    text-align: center;
}

.talentos__texto{
    color: var(--cor-texto);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.talentos__imagem{
    margin-top: 2rem;
    width: 80%;
}